@charset "utf-8";
body{
  overflow-x: hidden;
}
body:after{
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(../img/2.png) center center/100% 100% no-repeat;
}
.nav{
  font-size: 18rem;
  margin-top: 16%;
}
.nav ul{
  width: 16em;
  margin-left: auto;
  margin-right: auto;
}
.nav li{
  margin-bottom: 1em;
  margin-left: .5em;
  margin-right: .5em;
  display: inline-block;
  width: 6.5em;
  border-radius: .2em;
  border: 1px solid #2b2b2b;
}
.nav-link li{
  margin-top: 2em;
  width: 15.5em;
}
.nav-link li:last-child{
  margin-top: 1em;
}
.nav li a{
  display: block;
  line-height: 2;
  background-color: #2b2b2b;
  border-radius: .2em;
  color: #fff;
  text-align: center;
  transform: translate(.3em,-.2em);
}
.logo{
  font-size: 18rem;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 17em;
}
.logo img{
  width: 100%;
}
.btn-ct{
  margin: 1em auto 1em auto;
  width: 16em;
  font-size: 18rem;
  text-align: center;
}
.btn-ct .btn{
  display: block;
  color: #fff;
  height: 2.6em;
  line-height: 2.6;
  border-radius: .3em;
  background-color: #2b2b2b;
  border-bottom: .3em solid #141414;
  animation: pop 2s infinite;
}
@keyframes pop {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
.video-ct{
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 3em;
  width: 22em;
}
.video-ct li{
  position: relative;
  overflow: hidden;
  margin-top: 2em;
  border: .4em solid #2b2b2b;
  border-radius: .4em;
  background-color: #2b2b2b;
}
.video-ct li video{
  display: block;
  width: 100%;
}
.video-ct .bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/3.png) center center/2em auto no-repeat;
}
.video-ct .bg.playing{
  opacity: 0;
}
.section-ct{
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  overflow: hidden;
  border: .4em solid #333;
  border-radius: .4em;
  background-color: #333;
}
.section-ct .img-ct{
  border-bottom: .3em solid #333;
}
.section-ct .img-ct img{
  width: 100%;
}
.section-ct .info{
  padding: .5em;
  color: #253990;
  background-color: #fff;
}
.section-ct .info h2{
  font-size: 20rem;
  font-weight: bold;
}
.section-ct .info h2 span{
  margin-left: 1em;
  font-size: 14rem;
  font-weight: normal;
}
.section-ct .info h3{
  margin-top: .3em;
  margin-bottom: .2em;
  font-size: 14rem;
}
.section-ct .info p{
  font-size: 13rem;
}
.page-nav{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.page-nav ul{
  display: flex;
  justify-content: space-between;
  width: 20em;
  margin-left: auto;
  margin-right: auto;
}
.page-nav li{
  margin-bottom: 1em;
  display: inline-block;
  width: 7em;
  border-radius: .2em;
  border: 1px solid #ccc;
}
.page-nav li span{
  display: block;
  height: 2em;
  line-height: 2;
  background: rgba(180,180,180,.9) url(../img/4.png) center center/1em auto no-repeat;
  border-radius: .2em;
  text-align: center;
  transform: translate(.3em,-.2em);
}
.page-nav li:last-child span{
  background: rgba(180,180,180,.9) url(../img/5.png) center center/1em auto no-repeat;
}


