@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 350px) {
  html {
    font-size: 90px !important;
  }
}

@media screen and (min-width: 351PX) and (max-width: 380PX) {
  html {
    font-size: 100px !important;
  }
}

@media screen and (min-width: 381PX) and (max-width: 410PX) {
  html {
    font-size: 110px !important;
  }
}

@media screen and (min-width: 411px) {
  html {
    font-size: 120px !important;
  }
}

body {
  font-size: .16rem !important;
  line-height: 1.4 !important;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  color: #333;
  background-color: #eee;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font: inherit;
}

input, select, textarea {
  color: inherit;
  font: inherit;
  /*chrome下，获得焦点时有虚线框*/
  outline: none;
  border: 1px solid #ccc;
}

button {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  text-align: center;
  outline: none;
}

img {
  /*火狐下，img没有src属性时，设置宽高不生效*/
  display: inline-block;
  max-width: 100%;
  vertical-align: bottom;
  /*去掉ie8-10黑边*/
  border: none;
}

.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
