@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  min-height: 100%;
  /*1rem = 16px*/
  font-size: 6.25%;
  /*1rem = 16px*6.25% 1px*/
}

@media screen and (max-width:350px) {
  html {
    font-size: 5.3%;
    /*1rem = 0.848px*/
    /*14rem = 11.872px*/
    /*16rem = 13.568px*/
  }
}

@media screen and (min-width:351px) {
  html {
    font-size: 5.5%;
    /*1rem = 0.88px*/
    /*14rem = 12.32px*/
    /*16rem = 14.08px*/
  }
}

@media screen and (min-width:375px) {
  html {
    font-size: 6%;
    /*1rem = 0.96px*/
    /*14rem = 13.44px*/
    /*16rem = 15.36px*/
  }
}

@media screen and (min-width:400px) {
  html {
    font-size: 7%;
    /*1rem = 1.12px*/
    /*14rem = 15.68px*/
    /*16rem = 17.92px*/
  }
}

body {
  font-size: .16rem !important;
  line-height: 1.4 !important;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  color: #333;
  background-color: #eee;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font: inherit;
}

input, select, textarea {
  color: inherit;
  font: inherit;
  /*chrome下，获得焦点时有虚线框*/
  outline: none;
  border: 1px solid #ccc;
}

button {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  text-align: center;
  outline: none;
}

img {
  /*火狐下，img没有src属性时，设置宽高不生效*/
  display: inline-block;
  max-width: 100%;
  vertical-align: bottom;
  /*去掉ie8-10黑边*/
  border: none;
}

.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}
