@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
html {
    font-size: 6.25%!important;
}
@media screen and (max-width:350px) {
    html {
        font-size: 5.5%!important;
    }
}
@media screen and (min-width:351px) {
    html {
        font-size: 6%!important;
    }
}
@media screen and (min-width:375px) {
    html {
        font-size: 6.5%!important;
    }
}
@media screen and (min-width:400px) {
    html {
        font-size: 7.5%!important;
    }
}
body {
    font-size: 14rem!important;
    line-height: 1.4!important;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
    color: inherit;
    outline: none;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font: inherit;
}
input, select, textarea {
    color: inherit;
    font: inherit;
    outline: none;
    border: 1px solid #ccc;
}
img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
